#about{
    background-image: url("../images/gallery/le\ destin\ de\ cassandre/a.jpg");
}

#projets{
    background-image: url("../images/gallery/solo\ et\ duo/a.jpg");
}

#questions{
    background-image: url("../images/gallery/12.jpg");

}

#contact{
    background-image: url("../images/gallery/contactBG.jpg");

}
